<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>

<div class="frmSignUp">
<form th:action="@{/api/v1/sign/up}" th:object="${memberRequestDto}" method="post">

    <div class="form-group">
        <label for="email">이메일</label>
        <input type="text" id="email" th:field="*{email}" class="form-control" placeholder="이메일"/>
        <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <button type="button" id="emailVerifyButton">이메일 인증</button>
    </div>

    <div class="form-group">
        <label for="pwd">비밀번호</label>
        <input type="password" id="pwd" th:field="*{pwd}" class="form-control" placeholder="비밀번호"/>
        <span class="error" th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></span>
    </div>

    <div class="form-group">
        <label for="rePwd">비밀번호 확인</label>
        <input type="password" id="rePwd" th:field="*{rePwd}" class="form-control" placeholder="비밀번호 확인"/>
        <span class="error" th:if="${#fields.hasErrors('rePwd')}" th:errors="*{rePwd}"></span>
    </div>

    <div class="form-group">
        <label for="name">이름</label>
        <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="이름">
        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>

    <div class="form-group">
        <label for="nickname">닉네임</label>
        <input type="text" id="nickname" th:field="*{nickname}" class="form-control" placeholder="닉네임">
        <span class="error" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></span>
    </div>

    <div id="signUpButtonContainer" style="display: block">
        <div>
            <button type="submit" id="signUpButton" disabled>회원가입</button>
        </div>
    </div>
</form>
</div>

<div id="verificationForm" style="display:none;">
    <h2>인증번호 확인</h2>
    <div class="form-group">
        <label for="authCode">인증번호</label>
        <input type="text" id="authCode" class="form-control" placeholder="인증번호를 입력하세요."/>
        <button type="button" id="verifyCodeButton">인증번호 확인</button>
    </div>
</div>

<script>
    let isEmailVerified = false;

    document.getElementById("emailVerifyButton").addEventListener("click", function () {
        var email = document.getElementById("email").value;
        fetch(`/api/v1/emails/verification-requests`, {
            method: "POST",
            headers: {
                "Content-Type" : "application/x-www-form-urlencoded"
            },
            body: new URLSearchParams({
                "email": email
            })
        }).then(response => {
            if(response.ok) {
                alert("인증 이메일이 전송되었습니다.");
                document.getElementById("verificationForm").style.display = "block";
            } else if(response.status === 409) {
                response.json().then(data => {
                    console.log(data);
                    alert(data.message);
                });
            } else {
                alert("인증 이메일 전송에 실패하였습니다.");
            }
        }).catch(error => {
            console.error("Error:", error);
            alert("인증 이메일 전송 중 오류가 발생했습니다.");
        });

    });

    document.getElementById("verifyCodeButton").addEventListener("click", function () {
        var email = document.getElementById("email").value;
        var authCode = document.getElementById("authCode").value;
        fetch(`/api/v1/emails/verifications?email=${encodeURIComponent(email)}&code=${encodeURIComponent(authCode)}`, {
            method: "GET"
        }).then(response => {
            if(response.ok) {
                alert("인증이 완료되었습니다.");
                isEmailVerified = true;
                document.getElementById("signUpButtonContainer").style.display = "block";
                document.getElementById("signUpButton").disabled = false;
            } else if(response.status === 404) {
                response.json().then(data => {
                    alert(data.message);
                });
            } else {
                alert("인증에 실패하였습니다. 다시 시도해주세요.");
            }
        }).catch(error => {
            console.error("Error:", error);
            alert("인증 과정에서 오류가 발생했습니다.");
        });
    });
</script>
</body>
</html>
