<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원탈퇴</title>
</head>
<body>
<form th:action="@{/api/v1/delete/user}" th:object="${dto}" method="post">
    <input type="hidden" name="_method" value="delete"/>
    <div class="form-group">
        <label for="email">이메일</label>
        <input type="text" id="email" th:field="*{email}" class="form-control" placeholder="이메일"/>
    </div>

    <div class="form-group">
        <label for="pwd">비밀번호</label>
        <input type="password" id="pwd" th:field="*{pwd}" class="form-control" placeholder="비밀번호"/>
    </div>

    <div class="form-group">
        <label for="rePwd">비밀번호 확인</label>
        <input type="password" id="rePwd" th:field="*{rePwd}" class="form-control" placeholder="비밀번호 확인"/>
    </div>

    <div>
        <button type="submit" id="deleteBtn">회원탈퇴</button>
    </div>
</form>

<div id="result-message"></div>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        try {
            const response = await fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-HTTP-Method-Override': 'DELETE'
                },
                body: JSON.stringify(Object.fromEntries(new FormData(form)))
            });
            if(response.ok) {
                document.getElementById('result-message').textContent = '회원탈퇴 성공!';
                window.location.href = "/api/v1/sign/up";
            } else {
                const errorData = await response.json();
                document.getElementById('result-message').textContent = `회원탈퇴 실패!: ${errorData.message}`;
            }
        } catch (error) {
            document.getElementById('result-message').textContent = `회원탈퇴 실패: ${error.message}`;
        }
    })
</script>
</body>
</html>