<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
</head>
<body>
<h1>로그인</h1>
<div th:if="${global}">
    <p th:text="${global}"></p>
</div>
<div class="frmSignIn">
<form th:action="@{/api/v1/sign/in}" method="post" th:object="${loginRequestDto}">
    <div class="form-group">
        <label for="email">이메일</label>
        <input type="text" id="email" th:field="*{email}" class="form-control" placeholder="이메일"/>
        <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>

    <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="비밀번호"/>
        <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>

    <div>
        <button type="submit">로그인</button>
    </div>

</form>
</div>
</body>
</html>