<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>회원가입</title>

    <!-- Custom fonts for this template-->
    <link href="/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        .error {
            color: red;
            font-size: 0.8rem;
            margin-top: 0.25rem;
            display: block;
        }
    </style>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                            </div>
                            <form class="user" th:action="@{/sign/up}" th:object="${memberRequestDto}" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" th:field="*{name}" class="form-control form-control-user" id="name"
                                            placeholder="이름">
                                        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{nickname}" class="form-control form-control-user" id="nickname"
                                            placeholder="닉네임">
                                        <span class="error" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" th:field="*{email}" class="form-control form-control-user" id="email"
                                           placeholder="이메일">
                                    <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                    <button type="button" id="emailVerifyButton" class="btn btn-primary btn-user">이메일 인증</button>
                                </div>
                                <div id="verificationForm" style="display:none;">
                                    <h3>인증번호 확인</h3>
                                    <div class="form-group">
                                        <input type="text" id="authCode" class="form-control" placeholder="인증번호를 입력하세요."/>
                                        <button type="button" id="verifyCodeButton" class="btn btn-secondary btn-user">인증번호 확인</button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" th:field="*{pwd}" class="form-control form-control-user"
                                            id="pwd" placeholder="비밀번호">
                                        <span class="error" th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" th:field="*{rePwd}" class="form-control form-control-user"
                                            id="rePwd" placeholder="비밀번호확인">
                                        <span class="error" th:if="${#fields.hasErrors('rePwd')}" th:errors="*{rePwd}"></span>
                                    </div>
                                </div>
                                <div id="signUpButtonContainer" style="display: block">
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block" id="signUpButton" disabled>회원가입</button>
                                    </div>
                                </div>

                                <hr>

                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/reset/pwd">비밀번호를 잊으셨나요?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/sign/in">이미 계정이 있으신가요?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/bootstrap/js/sb-admin-2.min.js"></script>


    <script src="/members/register.js"></script>
</body>

</html>